/* 외부폰트(구글폰트) 사용시 추가해야할 부분 */
/* @import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap"); */

/* reset css는 대부분의 태그에 margin:0, padding:0, border:0 으로 설정하는 css 파일 */
/* (브라우저에 의해 자동으로 적용되는 스타일 설정을 무시하도록 한다) */
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatting.css";

/* 모든 스크린에 동일하게 적용되는 스타일 */
body {
  color: #2e363e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* for scroll test */
  /* height: 155vh; */
}
