#chatting-screen {
  background-color: #abc1d1;
  height: 200vh;
}

#chatting-screen .alt-header,
#chatting-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chatting-screen .alt-header {
  top: 22px;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chatting {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

.chatting__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 7px 14px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 10px;
}

.message_author {
  display: block;
  opacity: 0.7;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.message__bubble {
  font-weight: 600;
  background-color: white;
  padding: 10px 15px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 6px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.7;
  font-size: 13px;
}

.message-row-own {
  justify-content: flex-end;
}

.message-row-own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 13px;
  border-top-right-radius: 0px;
  margin-left: 6px;
}

/* flex children 들에게만 적용될 수 있다. */
.message-row-own .message__info {
  flex-direction: row-reverse;
}
