#friends-display-link {
  /* width: 100%과 동일한 의미 */
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.25);
}

.friends-screen {
  padding: 0px, 25px;
}

.friends-screen__channel {
  margin: 20px 20px 0px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.main-screen {
  margin: 0px var(--horizontal-space);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}
