.screen-header {
  display: flex;
  /* 시작 Item은 시작점에, 마지막 Item은 끝점에 정렬되고 나머지 Item들은 사이에 고르게 정렬됨 */
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: var(--horizontal-space);
}

.screen-header__point {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  right: 15px;
}
