.user-component {
  display: flex;
  margin-bottom: 15px;
}

.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__profile {
  width: 70px;
  height: 70px;
  border-radius: 29 px;
  margin: 5px 20px;
}

.user-component__name {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  font-size: 13.5px;
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__profile--xl {
  width: 80px;
  height: 80px;
  border-radius: 29px;
  margin: 5px 20px;
}

.user-component__profile--sm {
  width: 60px;
  height: 60px;
  border-radius: 23px;
  margin: 5px 20px;
}

.user-component__name--not-bold {
  font-weight: 400;
}

.user-component__time {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-bottom: 10px;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
}

.user-component__phone-num {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__phone-num i {
  color: tomato;
  opacity: 0.65;
  margin-left: 5px;
  margin-top: 8px;
}
